In [1]:
#SCRIPT: CARGA DE DADOS (Excel para SQL) 

import pandas as pd
from sqlalchemy import create_engine
import sys 
import openpyxl # Garante que a biblioteca de ler Excel está importada

print("--- INICIANDO TAREFA 1: CARGA DO BANCO DE DADOS ---")

# 1. CONFIGURAÇÃO DA CONEXÃO 
db_user = 'root'
db_password = 'SUA_SENHA_AQUI''
db_host = 'localhost'
db_port = '3306'
db_name = 'farmaceutica_hypera'

try:
    engine_string = f'mysql+mysqlconnector://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
    engine = create_engine(engine_string)
    print(f"Conexão com o banco '{db_name}' estabelecida com sucesso!")
except Exception as e:
    print(f"ERRO FATAL ao conectar ao banco de dados: {e}")
    print("Verifique sua senha, usuário ou se o serviço do MySQL está rodando.")
    sys.exit() # Para o script se não conseguir conectar


# 2. DEFINIÇÃO DO ARQUIVO E ABAS ---

arquivo_excel = 'dados_farmaceuticos_hypera.xlsx' 

# Nomes das abas
aba_clientes = 'clientes'
aba_produtos = 'produtos'
aba_reps = 'representantes'
aba_vendas = 'vendas'
aba_pagamentos = 'pagamentos'


# 3. FUNÇÃO PARA CARREGAR DADOS (Lê Excel, Insere no SQL)
def carregar_dados_excel(arquivo, nome_aba, nome_tabela, engine_conexao, colunas_data=None):
    try:
        print(f"\nIniciando leitura da aba '{nome_aba}'...")
        df = pd.read_excel(arquivo, sheet_name=nome_aba)
        
        print(f"Lido com sucesso. Iniciando carga da tabela SQL '{nome_tabela}'...")
        
        if colunas_data:
            for col in colunas_data:
                df[col] = pd.to_datetime(df[col], errors='coerce')
        
        # USA O "df.to_sql()" PARA INSERIR OS DADOS NO BANCO
        df.to_sql(nome_tabela, con=engine_conexao, if_exists='append', index=False)
        
        print(f"SUCESSO: {len(df)} linhas inseridas na tabela '{nome_tabela}'.")
    
    except Exception as e:
        print(f"ERRO ao carregar tabela '{nome_tabela}' da aba '{nome_aba}': {e}")
        print("Verifique se o nome do arquivo Excel e o nome da aba estão corretos.")
        print("Verifique também se você rodou o script CREATE TABLE no Workbench.")

#4. EXECUÇÃO DAS CARGAS 
print("\n INICIANDO CARGA DAS 5 TABELAS ")
carregar_dados_excel(arquivo_excel, aba_clientes, 'clientes', engine)
carregar_dados_excel(arquivo_excel, aba_produtos, 'produtos', engine)
carregar_dados_excel(arquivo_excel, aba_reps, 'representantes', engine)
carregar_dados_excel(arquivo_excel, aba_vendas, 'vendas', engine, colunas_data=['data'])
carregar_dados_excel(arquivo_excel, aba_pagamentos, 'pagamentos', engine, 
                     colunas_data=['data_emissao', 'data_vencimento', 'data_pagamento'])

print("\n-TAREFA 1 FINALIZADA ")
print("O banco de dados foi populado. Agora você pode ir para o notebook de ANÁLISE.")

--- INICIANDO TAREFA 1: CARGA DO BANCO DE DADOS ---
Conexão com o banco 'farmaceutica_hypera' estabelecida com sucesso!

--- INICIANDO CARGA DAS 5 TABELAS ---

Iniciando leitura da aba 'clientes'...
Lido com sucesso. Iniciando carga da tabela SQL 'clientes'...
ERRO ao carregar tabela 'clientes' da aba 'clientes': (mysql.connector.errors.IntegrityError) 1062 (23000): Duplicate entry '1' for key 'clientes.PRIMARY'
[SQL: INSERT INTO clientes (cliente_id, nome_cliente, tipo_cliente, regiao, uf, canal) VALUES (%(cliente_id)s, %(nome_cliente)s, %(tipo_cliente)s, %(regiao)s, %(uf)s, %(canal)s)]
[parameters: [{'cliente_id': 1, 'nome_cliente': 'Hospital São Lucas', 'tipo_cliente': 'Hospital', 'regiao': 'Sul', 'uf': 'RS', 'canal': 'Varejo'}, {'cliente_id': 2, 'nome_cliente': 'Farmácia Preço Justo', 'tipo_cliente': 'Farmácia Independente', 'regiao': 'Centro-Oeste', 'uf': 'DF', 'canal': 'Hospitalar'}, {'cliente_id': 3, 'nome_cliente': 'Rede Bem+Saúde', 'tipo_cliente': 'Rede de Farmácias', 'regiao': 'Centro-Oeste', 'uf': 'DF', 'canal': 'Hospitalar'}, {'cliente_id': 4, 'nome_cliente': 'Farmácia Preço Justo', 'tipo_cliente': 'Farmácia Independente', 'regiao': 'Norte', 'uf': 'TO', 'canal': 'Varejo'}, {'cliente_id': 5, 'nome_cliente': 'Clínica Dermacare', 'tipo_cliente': 'Clínica', 'regiao': 'Sul', 'uf': 'SC', 'canal': 'Varejo'}, {'cliente_id': 6, 'nome_cliente': 'Clínica Vitalis', 'tipo_cliente': 'Clínica', 'regiao': 'Sul', 'uf': 'SC', 'canal': 'Varejo'}, {'cliente_id': 7, 'nome_cliente': 'Rede Bem+Saúde', 'tipo_cliente': 'Rede de Farmácias', 'regiao': 'Norte', 'uf': 'RR', 'canal': 'Varejo'}, {'cliente_id': 8, 'nome_cliente': 'Rede Bem+Saúde', 'tipo_cliente': 'Rede de Farmácias', 'regiao': 'Nordeste', 'uf': 'RN', 'canal': 'Varejo'}  ... displaying 10 of 220 total bound parameter sets ...  {'cliente_id': 219, 'nome_cliente': 'Clínica Onco+', 'tipo_cliente': 'Clínica', 'regiao': 'Norte', 'uf': 'AP', 'canal': 'Varejo'}, {'cliente_id': 220, 'nome_cliente': 'Farmácia Boa Saúde', 'tipo_cliente': 'Farmácia Independente', 'regiao': 'Nordeste', 'uf': 'PI', 'canal': 'Varejo'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
Verifique se o nome do arquivo Excel e o nome da aba estão corretos.
Verifique também se você rodou o script CREATE TABLE no Workbench.

Iniciando leitura da aba 'produtos'...
Lido com sucesso. Iniciando carga da tabela SQL 'produtos'...
ERRO ao carregar tabela 'produtos' da aba 'produtos': (mysql.connector.errors.IntegrityError) 1062 (23000): Duplicate entry '1' for key 'produtos.PRIMARY'
[SQL: INSERT INTO produtos (produto_id, nome_produto, categoria, preco_base, marca, linha) VALUES (%(produto_id)s, %(nome_produto)s, %(categoria)s, %(preco_base)s, %(marca)s, %(linha)s)]
[parameters: [{'produto_id': 1, 'nome_produto': 'PulmoForte 500 mg (cápsula)', 'categoria': 'Dermocosméticos', 'preco_base': 145.82, 'marca': 'BioVida', 'linha': 'Dermocosmético'}, {'produto_id': 2, 'nome_produto': 'CardioCare 20 mg (spray)', 'categoria': 'Sistema Nervoso', 'preco_base': 89.15, 'marca': 'Hypera Pharma', 'linha': 'OTC'}, {'produto_id': 3, 'nome_produto': 'GastroPlus 40 mg (creme)', 'categoria': 'Vitaminas e Minerais', 'preco_base': 151.85, 'marca': 'Hypera Pharma', 'linha': 'Suplemento'}, {'produto_id': 4, 'nome_produto': 'ImunoFlex 20 mg (xarope)', 'categoria': 'Gastrointestinais', 'preco_base': 100.16, 'marca': 'BioVida', 'linha': 'OTC'}, {'produto_id': 5, 'nome_produto': 'DermDuo 20 mg (creme)', 'categoria': 'Antibióticos', 'preco_base': 76.25, 'marca': 'BioVida', 'linha': 'Dermocosmético'}, {'produto_id': 6, 'nome_produto': 'HixCare 5 mg (gel)', 'categoria': 'Cardiovasculares', 'preco_base': 87.68, 'marca': 'NeoQuim', 'linha': 'OTC'}, {'produto_id': 7, 'nome_produto': 'CardioPlus 40 mg (gel)', 'categoria': 'Gastrointestinais', 'preco_base': 63.18, 'marca': 'BioVida', 'linha': 'Suplemento'}, {'produto_id': 8, 'nome_produto': 'PulmoMax 200 mg (comprimido)', 'categoria': 'Dermocosméticos', 'preco_base': 114.48, 'marca': 'SaúdeMais', 'linha': 'OTC'}  ... displaying 10 of 60 total bound parameter sets ...  {'produto_id': 59, 'nome_produto': 'GastroDuo 100 mg (creme)', 'categoria': 'Antitérmicos', 'preco_base': 52.28, 'marca': 'Hypera Pharma', 'linha': 'Suplemento'}, {'produto_id': 60, 'nome_produto': 'CardioCalm 100 mg (gotas)', 'categoria': 'Dermocosméticos', 'preco_base': 122.39, 'marca': 'BioVida', 'linha': 'Suplemento'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
Verifique se o nome do arquivo Excel e o nome da aba estão corretos.
Verifique também se você rodou o script CREATE TABLE no Workbench.

Iniciando leitura da aba 'representantes'...
Lido com sucesso. Iniciando carga da tabela SQL 'representantes'...
ERRO ao carregar tabela 'representantes' da aba 'representantes': (mysql.connector.errors.IntegrityError) 1062 (23000): Duplicate entry '1' for key 'representantes.PRIMARY'
[SQL: INSERT INTO representantes (rep_id, nome_rep, regiao) VALUES (%(rep_id)s, %(nome_rep)s, %(regiao)s)]
[parameters: [{'rep_id': 1, 'nome_rep': 'Rep 01', 'regiao': 'Centro-Oeste'}, {'rep_id': 2, 'nome_rep': 'Rep 02', 'regiao': 'Sul'}, {'rep_id': 3, 'nome_rep': 'Rep 03', 'regiao': 'Norte'}, {'rep_id': 4, 'nome_rep': 'Rep 04', 'regiao': 'Nordeste'}, {'rep_id': 5, 'nome_rep': 'Rep 05', 'regiao': 'Sudeste'}, {'rep_id': 6, 'nome_rep': 'Rep 06', 'regiao': 'Sudeste'}, {'rep_id': 7, 'nome_rep': 'Rep 07', 'regiao': 'Centro-Oeste'}, {'rep_id': 8, 'nome_rep': 'Rep 08', 'regiao': 'Sul'}  ... displaying 10 of 25 total bound parameter sets ...  {'rep_id': 24, 'nome_rep': 'Rep 24', 'regiao': 'Sul'}, {'rep_id': 25, 'nome_rep': 'Rep 25', 'regiao': 'Nordeste'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
Verifique se o nome do arquivo Excel e o nome da aba estão corretos.
Verifique também se você rodou o script CREATE TABLE no Workbench.

Iniciando leitura da aba 'vendas'...
Lido com sucesso. Iniciando carga da tabela SQL 'vendas'...
ERRO ao carregar tabela 'vendas' da aba 'vendas': (mysql.connector.errors.IntegrityError) 1062 (23000): Duplicate entry '1' for key 'vendas.PRIMARY'
[SQL: INSERT INTO vendas (venda_id, data, cliente_id, produto_id, rep_id, regiao, uf, canal, qtd, preco_unit, desconto, receita_bruta, receita_liquida) VALUES (%(venda_id)s, %(data)s, %(cliente_id)s, %(produto_id)s, %(rep_id)s, %(regiao)s, %(uf)s, %(canal)s, %(qtd)s, %(preco_unit)s, %(desconto)s, %(receita_bruta)s, %(receita_liquida)s)]
[parameters: [{'venda_id': 1, 'data': datetime.datetime(2024, 2, 15, 0, 0), 'cliente_id': 94, 'produto_id': 31, 'rep_id': 16, 'regiao': 'Sul', 'uf': 'PR', 'canal': 'Hospitalar', 'qtd': 5, 'preco_unit': 159.17, 'desconto': 0.16, 'receita_bruta': 795.85, 'receita_liquida': 668.51}, {'venda_id': 2, 'data': datetime.datetime(2024, 7, 10, 0, 0), 'cliente_id': 188, 'produto_id': 37, 'rep_id': 24, 'regiao': 'Sul', 'uf': 'RS', 'canal': 'Varejo', 'qtd': 11, 'preco_unit': 125.1, 'desconto': 0.16, 'receita_bruta': 1376.1, 'receita_liquida': 1155.92}, {'venda_id': 3, 'data': datetime.datetime(2024, 3, 7, 0, 0), 'cliente_id': 70, 'produto_id': 39, 'rep_id': 9, 'regiao': 'Sudeste', 'uf': 'RJ', 'canal': 'Varejo', 'qtd': 22, 'preco_unit': 111.68, 'desconto': 0.06, 'receita_bruta': 2456.96, 'receita_liquida': 2309.54}, {'venda_id': 4, 'data': datetime.datetime(2024, 12, 29, 0, 0), 'cliente_id': 29, 'produto_id': 37, 'rep_id': 22, 'regiao': 'Norte', 'uf': 'AC', 'canal': 'Hospitalar', 'qtd': 7, 'preco_unit': 132.22, 'desconto': 0.05, 'receita_bruta': 925.54, 'receita_liquida': 879.26}, {'venda_id': 5, 'data': datetime.datetime(2024, 1, 8, 0, 0), 'cliente_id': 190, 'produto_id': 36, 'rep_id': 21, 'regiao': 'Sudeste', 'uf': 'SP', 'canal': 'Varejo', 'qtd': 7, 'preco_unit': 23.94, 'desconto': 0.03, 'receita_bruta': 167.58, 'receita_liquida': 162.55}, {'venda_id': 6, 'data': datetime.datetime(2024, 10, 11, 0, 0), 'cliente_id': 214, 'produto_id': 56, 'rep_id': 10, 'regiao': 'Norte', 'uf': 'RO', 'canal': 'Varejo', 'qtd': 6, 'preco_unit': 150.12, 'desconto': 0.0, 'receita_bruta': 900.72, 'receita_liquida': 900.72}, {'venda_id': 7, 'data': datetime.datetime(2024, 10, 16, 0, 0), 'cliente_id': 144, 'produto_id': 2, 'rep_id': 23, 'regiao': 'Norte', 'uf': 'AC', 'canal': 'Varejo', 'qtd': 8, 'preco_unit': 85.13, 'desconto': 0.07, 'receita_bruta': 681.04, 'receita_liquida': 633.37}, {'venda_id': 8, 'data': datetime.datetime(2024, 8, 22, 0, 0), 'cliente_id': 120, 'produto_id': 7, 'rep_id': 20, 'regiao': 'Sudeste', 'uf': 'SP', 'canal': 'Varejo', 'qtd': 22, 'preco_unit': 56.95, 'desconto': 0.07, 'receita_bruta': 1252.9, 'receita_liquida': 1165.2}  ... displaying 10 of 25000 total bound parameter sets ...  {'venda_id': 24999, 'data': datetime.datetime(2024, 5, 27, 0, 0), 'cliente_id': 140, 'produto_id': 17, 'rep_id': 3, 'regiao': 'Sul', 'uf': 'RS', 'canal': 'Varejo', 'qtd': 11, 'preco_unit': 109.99, 'desconto': 0.1, 'receita_bruta': 1209.89, 'receita_liquida': 1088.9}, {'venda_id': 25000, 'data': datetime.datetime(2024, 1, 19, 0, 0), 'cliente_id': 117, 'produto_id': 49, 'rep_id': 9, 'regiao': 'Sul', 'uf': 'PR', 'canal': 'Varejo', 'qtd': 10, 'preco_unit': 136.95, 'desconto': 0.18, 'receita_bruta': 1369.5, 'receita_liquida': 1122.99}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
Verifique se o nome do arquivo Excel e o nome da aba estão corretos.
Verifique também se você rodou o script CREATE TABLE no Workbench.

Iniciando leitura da aba 'pagamentos'...
Lido com sucesso. Iniciando carga da tabela SQL 'pagamentos'...
ERRO ao carregar tabela 'pagamentos' da aba 'pagamentos': (mysql.connector.errors.IntegrityError) 1062 (23000): Duplicate entry '1' for key 'pagamentos.PRIMARY'
[SQL: INSERT INTO pagamentos (venda_id, data_emissao, data_vencimento, data_pagamento, forma_pagamento, status_pagamento, valor_titulo) VALUES (%(venda_id)s, %(data_emissao)s, %(data_vencimento)s, %(data_pagamento)s, %(forma_pagamento)s, %(status_pagamento)s, %(valor_titulo)s)]
[parameters: [{'venda_id': 1, 'data_emissao': datetime.datetime(2024, 2, 15, 0, 0), 'data_vencimento': datetime.datetime(2024, 3, 16, 0, 0), 'data_pagamento': datetime.datetime(2024, 3, 13, 0, 0), 'forma_pagamento': 'Cartão', 'status_pagamento': 'Pago', 'valor_titulo': 668.51}, {'venda_id': 2, 'data_emissao': datetime.datetime(2024, 7, 10, 0, 0), 'data_vencimento': datetime.datetime(2024, 8, 7, 0, 0), 'data_pagamento': datetime.datetime(2024, 8, 4, 0, 0), 'forma_pagamento': 'Boleto', 'status_pagamento': 'Pago', 'valor_titulo': 1155.92}, {'venda_id': 3, 'data_emissao': datetime.datetime(2024, 3, 7, 0, 0), 'data_vencimento': datetime.datetime(2024, 4, 4, 0, 0), 'data_pagamento': datetime.datetime(2024, 4, 4, 0, 0), 'forma_pagamento': 'PIX', 'status_pagamento': 'Pago', 'valor_titulo': 2309.54}, {'venda_id': 4, 'data_emissao': datetime.datetime(2024, 12, 29, 0, 0), 'data_vencimento': datetime.datetime(2025, 1, 26, 0, 0), 'data_pagamento': datetime.datetime(2025, 1, 25, 0, 0), 'forma_pagamento': 'PIX', 'status_pagamento': 'Pago', 'valor_titulo': 879.26}, {'venda_id': 5, 'data_emissao': datetime.datetime(2024, 1, 8, 0, 0), 'data_vencimento': datetime.datetime(2024, 2, 22, 0, 0), 'data_pagamento': datetime.datetime(2024, 2, 19, 0, 0), 'forma_pagamento': 'Cartão', 'status_pagamento': 'Pago', 'valor_titulo': 162.55}, {'venda_id': 6, 'data_emissao': datetime.datetime(2024, 10, 11, 0, 0), 'data_vencimento': datetime.datetime(2024, 11, 10, 0, 0), 'data_pagamento': datetime.datetime(2024, 11, 6, 0, 0), 'forma_pagamento': 'Transferência', 'status_pagamento': 'Pago', 'valor_titulo': 900.72}, {'venda_id': 7, 'data_emissao': datetime.datetime(2024, 10, 16, 0, 0), 'data_vencimento': datetime.datetime(2024, 11, 30, 0, 0), 'data_pagamento': datetime.datetime(2024, 11, 28, 0, 0), 'forma_pagamento': 'PIX', 'status_pagamento': 'Pago', 'valor_titulo': 633.37}, {'venda_id': 8, 'data_emissao': datetime.datetime(2024, 8, 22, 0, 0), 'data_vencimento': datetime.datetime(2024, 9, 21, 0, 0), 'data_pagamento': datetime.datetime(2024, 9, 17, 0, 0), 'forma_pagamento': 'Boleto', 'status_pagamento': 'Pago', 'valor_titulo': 1165.2}  ... displaying 10 of 25000 total bound parameter sets ...  {'venda_id': 24999, 'data_emissao': datetime.datetime(2024, 5, 27, 0, 0), 'data_vencimento': datetime.datetime(2024, 7, 26, 0, 0), 'data_pagamento': datetime.datetime(2024, 7, 23, 0, 0), 'forma_pagamento': 'PIX', 'status_pagamento': 'Pago', 'valor_titulo': 1088.9}, {'venda_id': 25000, 'data_emissao': datetime.datetime(2024, 1, 19, 0, 0), 'data_vencimento': datetime.datetime(2024, 2, 2, 0, 0), 'data_pagamento': datetime.datetime(2024, 2, 1, 0, 0), 'forma_pagamento': 'Boleto', 'status_pagamento': 'Pago', 'valor_titulo': 1122.99}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
Verifique se o nome do arquivo Excel e o nome da aba estão corretos.
Verifique também se você rodou o script CREATE TABLE no Workbench.

--- TAREFA 1 FINALIZADA ---
O banco de dados foi populado. Agora você pode ir para o notebook de ANÁLISE.